<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <img
      src="https://th.bing.com/th/id/OIP.9hcdY393TeVwUr3vY9meuwHaFL?w=193&h=180&c=7&o=5&dpr=1.25&pid=1.7"
      alt=""
    />
    <h1 class="display-3">Zomato Finder</h1>
    <p class="lead">Know the best restaurants in your location</p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
