<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Welcome to Zomato finder</h1>
    <p class="secret-text">Checkout the Dining places in your location.</p>
    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Show me the best dining places</a
    >
  </div>
</div>

<%- include('partials/footer') %>
